[submodule "arbitrum-sdk"]
	path = arbitrum-sdk
	url = https://github.com/OffchainLabs/arbitrum-sdk
	branch = main

[submodule "/Users/allup/dev/OCL/docs.arbitrum/arbitrum-orbit-sdk"]
	path = arbitrum-orbit-sdk
	url = https://github.com/offchainlabs/arbitrum-orbit-sdk.git
	branch = main
