[submodule "nitro"]
	path = nitro
	url = https://github.com/OffchainLabs/nitro
	branch = docs-staging
[submodule "arbitrum-sdk"]
	path = arbitrum-sdk
	url = https://github.com/OffchainLabs/arbitrum-sdk
	branch = master

