# Code owners are automatically requested for review when someone opens a pull request that modifies code that they own.
# Learn more here: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# recursively assign all markdown files to @foo @bar
**/*.md @symbolpunk @tucksondev @mahsamoosavi @anegg0 @hkalodner
**/*.mdx @symbolpunk @tucksondev @mahsamoosavi @anegg0 @hkalodner

# assign ownership of `sidebars.js` to @foo @bar
./website/sidebars.js @symbolpunk @tucksondev @mahsamoosavi @anegg0 @hkalodner