/**
 * Any CSS included here will be global.
 * Uses Infima. Infima docs -> https://infima.dev/
 * If you're updating this, make sure you're updating the LESS file.
 */
/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #007bdd;
  --ifm-color-primary-dark: #295f78;
  --ifm-color-primary-darker: #275771;
  --ifm-color-primary-darkest: #20465d;
  --ifm-color-primary-light: #337292;
  --ifm-color-primary-lighter: #357899;
  --ifm-color-primary-lightest: #3c85ad;
  --ifm-color-content: #000;
  --ifm-link-color: #007bdd;
  --ifm-code-font-size: 95%;
  --ifm-global-radius: 2px;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-color-info-dark: #359aec;
  --ifm-color-info-contrast-background: #f0f8ff;
  --ifm-alert-padding-vertical: 1.5rem;
  --ifm-alert-padding-horizontal: 1.5rem;
}
/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #28a0f0;
  --ifm-color-primary-dark: #2182af;
  --ifm-color-primary-darker: #1f7fa5;
  --ifm-color-primary-darkest: #1a6c88;
  --ifm-color-primary-light: #29b0d5;
  --ifm-color-primary-lighter: #32b4d8;
  --ifm-color-primary-lightest: #4fbcdd;
  --ifm-link-color: #51b2ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
.header-badges {
  display: block;
  margin-bottom: 15px;
  min-height: 35px;
  text-align: right;
  /*pragmatism over perfection*/
}
.header-badges .header-badge {
  transition-property: all;
  transition-duration: 0.2s;
  display: inline-block;
  border-radius: 20px;
  background-color: #efefef;
  padding: 3px 20px 3px 3px;
  height: 31px;
  margin-right: 6px;
  margin-bottom: 5px;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.header-badges .header-badge:hover {
  text-decoration: none;
  background-color: #e6e6e6;
  opacity: 1;
}
.header-badges .header-badge:hover .badge-avatar {
  opacity: 1;
}
.header-badges .header-badge:hover .badge-label {
  color: #000;
}
.header-badges .header-badge .badge-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition-property: all;
  transition-duration: 0.2s;
  font-size: 13px;
  line-height: 24px;
  color: #333;
  display: inline-block;
  vertical-align: top;
  height: 25px;
  max-width: calc(100% - 33px);
}
.header-badges .header-badge .badge-avatar {
  transition-property: all;
  transition-duration: 0.2s;
  display: inline-block;
  border-radius: 30px;
  width: 25px;
  height: 25px;
  background-size: cover;
  margin-right: 12px;
  font-size: 12px;
  vertical-align: top;
  line-height: 23px;
  padding-left: 8px;
  opacity: 0.7;
}
.header-badges .header-badge .emoji-avatar {
  margin-right: 8px !important;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
article .markdown h1:first-child {
  font-size: 30px;
}
article .markdown > h3 {
  font-size: 21px;
  margin-top: 50px;
  margin-bottom: 15px;
}
article .markdown li li {
  margin-top: 4px;
}
article .markdown .definition-list dt {
  font-weight: 700;
  margin-top: 20px;
}
article .markdown .definition-list dd {
  margin-left: 0;
}
article .markdown a {
  font-weight: 600;
}
article .markdown a:hover {
  cursor: pointer;
  opacity: 0.9;
}
article .markdown strong {
  font-weight: 600;
}
article .markdown .theme-admonition {
  margin-bottom: 2em;
}
article .markdown .theme-admonition svg {
  height: 1.3rem;
  width: 1.3rem;
}
article .markdown .a-b-list {
  list-style-type: lower-alpha;
}
article .markdown sup {
  padding-left: 2px;
}
article .markdown .footnote-backref {
  display: none;
}
article .markdown .footnotes {
  border-top: 1px solid #ddd;
  margin-top: 50px;
}
article .markdown .footnotes:before {
  content: "Footnotes:";
  font-weight: 600;
  margin-top: 30px;
  display: inline-block;
  margin-bottom: 20px;
}
article .markdown .footnotes hr {
  display: none;
}
article .markdown p > code {
  font-size: 13px;
  padding: 3px 6px;
  border-radius: 3px;
  background-color: rgba(150, 150, 150, 0.2);
}
.small-table {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.small-table td {
  padding: 10px;
}
[class*="quickstart-solidity-hardhat"] table {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 30px;
}
[class*="quickstart-solidity-hardhat"] table td {
  padding: 10px;
}
[class*="quickstart-solidity-hardhat"] .vending-machine {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: auto;
  text-align: center;
  border: 1px solid #aaa;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgba(150, 150, 150, 0.2);
  position: relative;
}
[class*="quickstart-solidity-hardhat"] .vending-machine h4 {
  text-transform: uppercase;
  color: var(--ifm-color-content);
  margin: 0;
  font-family: monospace;
}
[class*="quickstart-solidity-hardhat"] .vending-machine .subheader {
  font-family: monospace;
  text-transform: uppercase;
  color: #828282;
  font-size: 12px;
  font-weight: 800;
  margin-bottom: 20px;
}
[class*="quickstart-solidity-hardhat"] .vending-machine label {
  font-family: monospace;
  text-transform: uppercase;
  color: #828282;
  font-size: 12px;
  font-weight: 800;
  margin-top: 5px;
  display: block;
  text-align: left;
}
[class*="quickstart-solidity-hardhat"] .vending-machine input {
  padding: 10px;
  width: 90%;
  margin-bottom: 5px;
  font-size: 11px;
  font-family: monospace;
}
[class*="quickstart-solidity-hardhat"] .vending-machine #cupcake {
  display: block;
  font-size: 30px;
  margin-bottom: 10px;
}
[class*="quickstart-solidity-hardhat"] .vending-machine #cupcake-please {
  color: white;
  background-color: #007bdd;
  padding: 10px 20px;
  border-radius: 5px;
  border-width: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
}
[class*="quickstart-solidity-hardhat"] .vending-machine #cupcake-please:hover {
  cursor: pointer;
  opacity: 0.9;
}
[class*="quickstart-solidity-hardhat"] .vending-machine #refresh-balance {
  font-size: 11px;
  display: block;
  margin-bottom: 10px;
}
[class*="quickstart-solidity-hardhat"] .vending-machine #refresh-balance:hover {
  cursor: pointer;
  opacity: 0.9;
}
[class*="quickstart-solidity-hardhat"] .vending-machine #balance-wrapper {
  padding: 10px 0px;
  font-size: 11px;
  margin: 0;
  font-family: monospace;
}
[class*="quickstart-solidity-hardhat"] .vending-machine #balance-wrapper > span:first-child {
  font-weight: 600;
  padding-right: 5px;
}
[class*="quickstart-solidity-hardhat"] .vending-machine #error-indicator,
[class*="quickstart-solidity-hardhat"] .vending-machine #success-indicator {
  background: #aa0000;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: none;
}
[class*="quickstart-solidity-hardhat"] .vending-machine #error-indicator.visible,
[class*="quickstart-solidity-hardhat"] .vending-machine #success-indicator.visible {
  display: block;
}
[class*="quickstart-solidity-hardhat"] .vending-machine #success-indicator {
  background: #00a400;
  display: block;
}
[class*="quickstart-solidity-hardhat"] .vending-machine .hidden {
  display: none;
}
.prism-code {
  font-size: 12px;
}
.theme-doc-sidebar-menu {
  font-size: 13.5px;
}
.tippy-box {
  padding: 8px;
}
.tippy-content p:last-child {
  margin-bottom: 0;
}
@media (max-width: 736px) {
  .markdown h1:first-child {
    font-size: 24px;
  }
  .markdown > h3 {
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 10px;
  }
}
article a:not([data-quicklook-from]):not(.footnote-ref) {
  text-decoration: underline;
}
/* default mermaid container */
.docusaurus-mermaid-container {
  display: flex;
  justify-content: center;
}
