@use './partials/_variables.scss';
@use './partials/_darkmode.scss';
@use './partials/_misc-classes.scss';
@use './partials/_header-badges.scss';
@use './partials/_content-body.scss';
@use './partials/_page-specific-styles.scss';
@use './partials/_dynamic-content-tabs.scss';
@use './partials/_troubleshooting-report.scss';
@use './partials/_banner.scss';
@use './partials/_responsive.scss';
@use './partials/_sidebar.scss';
@use './partials/_footer.scss';
@use './partials/_navbar.scss';
@use './partials/_modal.scss';

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
