@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1Mu52xP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacegrotesk/v15/V8mQoQDjQSkFtoMM3T6r8E7mF71Q-gOoraIAEj62UUsj.ttf) format('truetype');
}
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacegrotesk/v15/V8mQoQDjQSkFtoMM3T6r8E7mF71Q-gOoraIAEj7oUUsj.ttf) format('truetype');
}
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacegrotesk/v15/V8mQoQDjQSkFtoMM3T6r8E7mF71Q-gOoraIAEj7aUUsj.ttf) format('truetype');
}
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacegrotesk/v15/V8mQoQDjQSkFtoMM3T6r8E7mF71Q-gOoraIAEj42Vksj.ttf) format('truetype');
}
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacegrotesk/v15/V8mQoQDjQSkFtoMM3T6r8E7mF71Q-gOoraIAEj4PVksj.ttf) format('truetype');
}
.spacefont {
  font-family: 'Space Grotesk', sans-serif;
}
:root {
  --arbitrum-font-size: 14px;
  --arbitrum-border-radius-sm: 5px;
  --arbitrum-border-radius: 10px;
  --arbitrum-font-family: 'Roboto', sans-serif;
  --arbitrum-color-primary: #8594b4;
  --arbitrum-background-opacity: rgba(0, 0, 0, 0.05);
  --arbitrum-text: black;
  --arbitrum-secondary-text: rgba(0, 0, 0, 0.5);
  --arbitrum-primary-button-bg: black;
  --arbitrum-primary-button-text: white;
  --ifm-color-primary: #007bdd;
  --ifm-color-primary-dark: #295f78;
  --ifm-color-primary-darker: #275771;
  --ifm-color-primary-darkest: #20465d;
  --ifm-color-primary-light: #337292;
  --ifm-color-primary-lighter: #357899;
  --ifm-color-primary-lightest: #3c85ad;
  --ifm-color-content: #000;
  --ifm-link-color: #007bdd;
  --ifm-code-font-size: 95%;
  --ifm-global-radius: 2px;
  --ifm-navbar-item-padding-horizontal: 0.6rem;
  --ifm-heading-font-family: 'Roboto', sans-serif;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-color-info-dark: #359aec;
  --ifm-color-info-contrast-background: #f0f8ff;
  --ifm-alert-padding-vertical: 1.5rem;
  --ifm-alert-padding-horizontal: 1.5rem;
  --tab-active-color: #3578e5;
  --tab-active-color-hover: hsl(217, 58%, 36%);
  --tab-gray: #ddd;
}
[data-theme='dark'] {
  --arbitrum-color-primary: #152c4e;
  --arbitrum-background-opacity: rgba(255, 255, 255, 0.05);
  --arbitrum-text: white;
  --arbitrum-secondary-text: rgba(255, 255, 255, 0.5);
  --arbitrum-primary-button-bg: white;
  --arbitrum-primary-button-text: black;
  --ifm-color-primary: #28a0f0;
  --ifm-color-primary-dark: #2182af;
  --ifm-color-primary-darker: #1f7fa5;
  --ifm-color-primary-darkest: #1a6c88;
  --ifm-color-primary-light: #29b0d5;
  --ifm-color-primary-lighter: #32b4d8;
  --ifm-color-primary-lightest: #4fbcdd;
  --ifm-color-content: white;
  --ifm-link-color: #51b2ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --prysm-pink: var(--prysm-pink-light);
  --tab-gray: #aaa;
}
[data-theme='dark'] .dynamic-content-tabs .tabgroup-with-label .tabs__item:first-child {
  color: #eee;
}
[data-theme='dark'] .dynamic-content-tabs .tabgroup-with-label .tabs__item:first-child:hover {
  background-color: transparent !important;
}
[data-theme='dark'] .troubleshooting-report-area > span {
  color: #ddd !important;
}
[data-theme='dark'] .checklist .task .input-container input:checked + .done {
  background-color: #002862;
}
[data-theme='dark'] .checklist .task .guidance-container label {
  color: white;
}
[data-theme='dark'] .checklist .task .guidance-container > p {
  color: white;
}
/* MIXINS */
.enable-transition {
  -o-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  /* ...and now for the proper property */
  transition: all 0.15s ease;
}
.invisible-horizontal-scroll {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-x: scroll;
}
.invisible-horizontal-scroll::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.small-table {
  font-size: 12.5px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.small-table td {
  padding: 10px;
}
.medium-table {
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.medium-table td {
  padding: 15px;
}
.dark-blue-background {
  background-color: #062455 !important;
}
.gently-animated {
  transition: all 0.1s ease-in-out;
}
.header-badges {
  display: block;
  margin-bottom: 15px;
  min-height: 35px;
  text-align: right;
  /*pragmatism over perfection*/
}
.header-badges .header-badge {
  transition-property: all;
  transition-duration: 0.2s;
  display: inline-block;
  border-radius: 20px;
  background-color: #efefef;
  padding: 3px 20px 3px 3px;
  height: 31px;
  margin-right: 6px;
  margin-bottom: 5px;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.header-badges .header-badge:hover {
  text-decoration: none;
  background-color: #e6e6e6;
  opacity: 1;
}
.header-badges .header-badge:hover .badge-avatar {
  opacity: 1;
}
.header-badges .header-badge:hover .badge-label {
  color: #000;
}
.header-badges .header-badge .badge-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition-property: all;
  transition-duration: 0.2s;
  font-size: 13px;
  line-height: 24px;
  color: #333;
  display: inline-block;
  vertical-align: top;
  height: 25px;
  max-width: calc(100% - 33px);
}
.header-badges .header-badge .badge-avatar {
  transition-property: all;
  transition-duration: 0.2s;
  display: inline-block;
  border-radius: 30px;
  width: 25px;
  height: 25px;
  background-size: cover;
  margin-right: 12px;
  font-size: 12px;
  vertical-align: top;
  line-height: 23px;
  padding-left: 8px;
  opacity: 0.7;
}
.header-badges .header-badge .emoji-avatar {
  margin-right: 8px !important;
}
article .markdown h1:first-child {
  font-size: 30px;
}
article .markdown > h3 {
  font-size: 21px;
  margin-top: 50px;
  margin-bottom: 15px;
}
article .markdown li li {
  margin-top: 4px;
}
article .markdown .definition-list dt {
  font-weight: 700;
  margin-top: 20px;
}
article .markdown .definition-list dd {
  margin-left: 0;
}
article .markdown a {
  font-weight: 600;
}
article .markdown a:hover {
  cursor: pointer;
  opacity: 0.9;
}
article .markdown strong {
  font-weight: 600;
}
article .markdown .theme-admonition {
  margin-bottom: 2em;
}
article .markdown .theme-admonition svg {
  height: 1.3rem;
  width: 1.3rem;
}
article .markdown .a-b-list {
  list-style-type: lower-alpha;
}
article .markdown sup {
  padding-left: 2px;
}
article .markdown .footnote-backref {
  display: none;
}
article .markdown .footnotes {
  border-top: 1px solid #ddd;
  margin-top: 50px;
}
article .markdown .footnotes:before {
  content: 'Footnotes:';
  font-weight: 600;
  margin-top: 30px;
  display: inline-block;
  margin-bottom: 20px;
}
article .markdown .footnotes hr {
  display: none;
}
article .markdown p > code {
  font-size: 13px;
  padding: 3px 6px;
  border-radius: 3px;
  background-color: rgba(150, 150, 150, 0.2);
}
[class*='launch-a-chain'] table {
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 30px;
}
[class*='launch-a-chain'] table td {
  padding: 15px;
}
[class*='orbit-quickstart'] table,
[class*='orbit-gentle-introduction'] table,
[class*='contribute'] table {
  font-size: 12.5px;
  margin-top: 20px;
  margin-bottom: 30px;
}
[class*='orbit-quickstart'] table td,
[class*='orbit-gentle-introduction'] table td,
[class*='contribute'] table td {
  padding: 10px;
}
[class*='quickstart-solidity-hardhat'] table {
  font-size: 12.5px;
  margin-top: 20px;
  margin-bottom: 30px;
}
[class*='quickstart-solidity-hardhat'] table td {
  padding: 10px;
}
[class*='quickstart-solidity-hardhat'] .vending-machine {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: auto;
  text-align: center;
  border: 1px solid #aaa;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgba(150, 150, 150, 0.2);
  position: relative;
}
[class*='quickstart-solidity-hardhat'] .vending-machine h4 {
  text-transform: uppercase;
  color: var(--ifm-color-content);
  margin: 0;
  font-family: monospace;
}
[class*='quickstart-solidity-hardhat'] .vending-machine .subheader {
  font-family: monospace;
  text-transform: uppercase;
  color: #828282;
  font-size: 12px;
  font-weight: 800;
  margin-bottom: 20px;
}
[class*='quickstart-solidity-hardhat'] .vending-machine label {
  font-family: monospace;
  text-transform: uppercase;
  color: #828282;
  font-size: 12px;
  font-weight: 800;
  margin-top: 5px;
  display: block;
  text-align: left;
}
[class*='quickstart-solidity-hardhat'] .vending-machine input {
  padding: 10px;
  width: 90%;
  margin-bottom: 5px;
  font-size: 11px;
  font-family: monospace;
}
[class*='quickstart-solidity-hardhat'] .vending-machine #cupcake {
  display: block;
  font-size: 30px;
  margin-bottom: 10px;
}
[class*='quickstart-solidity-hardhat'] .vending-machine #cupcake-please {
  color: white;
  background-color: #007bdd;
  padding: 10px 20px;
  border-radius: 5px;
  border-width: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
}
[class*='quickstart-solidity-hardhat'] .vending-machine #cupcake-please:hover {
  cursor: pointer;
  opacity: 0.9;
}
[class*='quickstart-solidity-hardhat'] .vending-machine #refresh-balance {
  font-size: 11px;
  display: block;
  margin-bottom: 10px;
}
[class*='quickstart-solidity-hardhat'] .vending-machine #refresh-balance:hover {
  cursor: pointer;
  opacity: 0.9;
}
[class*='quickstart-solidity-hardhat'] .vending-machine #balance-wrapper {
  padding: 10px 0px;
  font-size: 11px;
  margin: 0;
  font-family: monospace;
}
[class*='quickstart-solidity-hardhat'] .vending-machine #balance-wrapper > span:first-child {
  font-weight: 600;
  padding-right: 5px;
}
[class*='quickstart-solidity-hardhat'] .vending-machine #error-indicator,
[class*='quickstart-solidity-hardhat'] .vending-machine #success-indicator {
  background: #aa0000;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: none;
}
[class*='quickstart-solidity-hardhat'] .vending-machine #error-indicator.visible,
[class*='quickstart-solidity-hardhat'] .vending-machine #success-indicator.visible {
  display: block;
}
[class*='quickstart-solidity-hardhat'] .vending-machine #success-indicator {
  background: #00a400;
  display: block;
}
[class*='quickstart-solidity-hardhat'] .vending-machine .hidden {
  display: none;
}
/* used to hide all but the topmost tabs when using the multidimensional content widget */
.hidden {
  visibility: hidden !important;
  height: 0 !important;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}
.hide-tabs .tabs {
  visibility: hidden !important;
  height: 0 !important;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}
.dynamic-content-tabs {
  position: relative;
  margin-bottom: 25px;
}
.dynamic-content-tabs .tabgroup-with-label {
  font-size: 13px;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 5px;
  overflow: hidden;
  position: static;
  margin-bottom: 10px;
}
.dynamic-content-tabs .tabgroup-with-label .tabs__item {
  font-size: 13px;
  font-weight: 500;
  border-top: 1px solid var(--tab-gray);
  border-bottom: 1px solid var(--tab-gray);
  padding: 10px 15px;
  border-radius: 0px !important;
  position: relative;
}
.dynamic-content-tabs .tabgroup-with-label .tabs__item:first-child {
  cursor: default !important;
  color: black;
  width: 150px;
  border: 1px solid transparent !important;
  border-right: 0px !important;
}
.dynamic-content-tabs .tabgroup-with-label .tabs__item:first-child:hover {
  background-color: transparent !important;
  cursor: default !important;
}
.dynamic-content-tabs .tabgroup-with-label .tabs__item:nth-child(2) {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-left: 1px solid var(--tab-gray);
  border-right: 0px !important;
  z-index: 2;
}
.dynamic-content-tabs .tabgroup-with-label .tabs__item:last-child {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-right: 1px solid var(--tab-gray);
  border-top: 1px solid var(--tab-gray);
  border-bottom: 1px solid var(--tab-gray);
  border-left: 0px;
}
.dynamic-content-tabs .tabgroup-with-label .tabs__item.tabs__item--active {
  font-size: 13px;
  font-weight: 500;
  background-color: var(--tab-active-color) !important;
  border-color: var(--tab-active-color) !important;
  color: white !important;
}
.dynamic-content-tabs .tabgroup-with-label .tabs__item.disabled-tab {
  color: #999 !important;
}
.dynamic-content-tabs .tabgroup-with-label:after {
  font-size: 13px;
  font-weight: 500;
  padding: 10px 15px;
  position: relative;
  border-color: transparent !important;
  transition: all 0.15s linear;
  background: transparent;
  color: transparent;
  display: inline-block;
  content: 'Content updated!';
}
.dynamic-content-tabs .tabgroup-with-label.updated:after {
  color: var(--tab-active-color);
}
.troubleshooting-report-area {
  text-align: left;
}
.troubleshooting-report-area > p {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 16px;
}
.troubleshooting-report-area > span {
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 13px;
  color: #333;
}
.troubleshooting-report-area > code {
  font-size: 13px;
}
.troubleshooting-report-area > textarea {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-x: scroll;
  padding: 15px;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  background-color: #f6f6f6;
  color: #444 !important;
  text-align: left;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 20px !important;
  width: 100%;
  min-width: 100%;
  border: 1px solid #c2c2c2 !important;
  white-space: pre;
}
.troubleshooting-report-area > textarea::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}
rows .troubleshooting-report-area > textarea::placeholder {
  color: #777 !important;
}
.troubleshooting-report-area .generate-report {
  -o-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  /* ...and now for the proper property */
  transition: all 0.15s ease;
  font-size: 13px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px !important;
  position: relative;
  background-color: var(--tab-active-color);
  border-color: var(--tab-active-color);
  color: white !important;
  display: inline-block;
  margin: auto;
  text-align: center;
  padding: 15px 25px;
  cursor: pointer;
  margin-top: 20px;
  text-decoration: none !important;
}
.troubleshooting-report-area .generate-report:hover {
  background-color: var(--tab-active-color-hover);
}
.troubleshooting-report-area .generated-report {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-x: scroll;
  display: block;
  width: 100%;
  min-width: 100%;
  font-size: 12px;
  padding: 20px;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  background-color: #292929;
  color: white;
  text-align: left;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  white-space: pre;
}
.troubleshooting-report-area .generated-report::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}
.checklist .task {
  display: table;
  position: relative;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  width: 100%;
}
.checklist .task .input-container {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 5px;
  width: 40px;
}
.checklist .task .input-container input {
  width: 25px;
  height: 25px;
  display: inline-block;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.checklist .task .input-container .done {
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-delay: 0s;
}
.checklist .task .input-container input:checked + .done {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #dfebfd;
  z-index: 0;
}
.checklist .task .guidance-container {
  display: inline-block;
  padding-top: 0px;
  position: relative;
  z-index: 2;
  padding-left: 10px;
}
.checklist .task .guidance-container label {
  display: block;
  font-weight: bold;
}
.checklist .task .guidance-container > p,
.checklist .task .guidance-container p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0 !important;
}
.checklist .task .guidance-container .margin-top--md {
  margin-top: 0 !important;
}
.checklist .task .guidance-container .tabs-container {
  margin-bottom: 0 !important;
}
.checklist input {
  margin-right: 5px;
}
[data-faq-origin-slug='node-faq'] {
  /* CSS properties */
}
[data-faq-origin-slug='node-faq'] h3 {
  font-size: 16px;
  margin-bottom: 5px;
}
h2.anchor {
  font-size: 24px;
}
[class*='announcementBar_node_modules-@docusaurus-theme-classic-lib-theme-AnnouncementBar-styles-module'],
.announcementBar_mb4j {
  font-family: 'Space Grotesk', sans-serif;
  color: white !important;
  background-color: #2c374b !important;
  font-size: 14px !important;
}
[class*='announcementBar_node_modules-@docusaurus-theme-classic-lib-theme-AnnouncementBar-styles-module'] a,
.announcementBar_mb4j a {
  color: #00e5ff !important;
  text-decoration: none !important;
}
.prism-code {
  font-size: 12px;
}
.theme-doc-sidebar-menu {
  font-size: 13.5px;
}
.tippy-box {
  padding: 8px;
}
.tippy-content p:last-child {
  margin-bottom: 0;
}
@media (max-width: 736px) {
  .markdown h1:first-child {
    font-size: 24px;
  }
  .markdown > h3 {
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 10px;
  }
}
article a:not([data-quicklook-from]):not(.footnote-ref) {
  text-decoration: underline;
}
/* default mermaid container */
.docusaurus-mermaid-container {
  display: flex;
  justify-content: center;
}
.navbar {
  box-shadow: none;
}
.navbar__item {
  font-size: clamp(0.8rem, 1.25vw, 1rem);
  line-height: 1.5;
  padding-top: 0;
  padding-bottom: 0;
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v21/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_GNsFVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v21/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sFVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v21/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_A9sFVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v21/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_ONrFVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v21/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_NprFVc.ttf) format('truetype');
}
.apply-fira-font {
  font-family: 'Fira Code', monospace;
}
.theme-doc-sidebar-container .theme-doc-sidebar-menu {
  font-weight: 500;
  font-size: 13px;
}
.theme-doc-sidebar-container .theme-doc-sidebar-menu .menu__link--sublist-caret:after {
  height: 1rem !important;
  width: 1rem !important;
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.2rem 1.2rem;
  opacity: 0.5;
}
.theme-doc-sidebar-container > div > div > nav > ul > .theme-doc-sidebar-item-category {
  margin-top: 20px;
  margin-bottom: 50px;
}
.theme-doc-sidebar-container > div > div > nav > ul > .theme-doc-sidebar-item-category > div {
  border-bottom: 1px solid rgba(150, 150, 150, 0.1);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.theme-doc-sidebar-container > div > div > nav > ul > .theme-doc-sidebar-item-category > div > a {
  font-family: 'Fira Code', monospace;
  font-weight: 700;
  font-size: 11.5px !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #777;
  text-transform: uppercase;
  vertical-align: middle;
}
.theme-doc-sidebar-container > div > div > nav > ul > .theme-doc-sidebar-item-category > ul {
  padding-left: 0 !important;
}
.theme-doc-sidebar-container > div > div > nav > ul .menu__link {
  font-size: 12px;
}
