.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.cardTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cardH3 {
  color: rgba(23, 32, 42, 100);
}

.cardP {
  color: rgba(23, 32, 42, 0.7);
}
