@use './_mixins.scss' as *;

main > .container {
  padding-top: 70px !important;
}

article {
  .markdown {
    h1:first-child {
      font-size: 30px;
    }

    h2.anchor {
      font-size: 24px;
    }

    > h3,
    > .faq-question > h3 {
      font-size: 21px;
      margin-top: 50px;
      margin-bottom: 15px;
    }

    li li {
      margin-top: 4px;
    }

    .definition-list {
      dt {
        font-weight: 700;
        margin-top: 20px;
      }

      dd {
        margin-left: 0;
      }
    }

    a {
      &:link {
        color: #5b7bb6; /* Change the link color */
        text-decoration: none !important;
        font-weight: 600;
      }

      &:hover {
        color: #86b8da; /* Change the link color */
        cursor: pointer;
        opacity: 0.9;
      }
      &:visited {
        color: #7c93cf; /* Change the link color */
        cursor: pointer;
        opacity: 0.9;
      }
      &:active {
        color: #86b8da; /* Change the link color */
        cursor: pointer;
        opacity: 0.9;
      }
    }

    strong {
      font-weight: 600;
    }

    img[alt='20px-img'] {
      width: 10px;
    }
    img[alt='20px-img'] {
      width: 20px;
    }
    img[alt='50px-img'] {
      width: 50px;
    }
    img[alt='100px-img'] {
      width: 100px;
    }
    img[alt='200px-img'] {
      width: 200px;
    }
    img[alt='400px-img'] {
      width: 400px;
    }
    img[alt='500px-img'] {
      width: 500px;
    }
    img[alt='600px-img'] {
      width: 600px;
    }
    img[alt='700px-img'] {
      width: 600px;
    }
    img[alt='800px-img'] {
      width: 600px;
    }
    img[alt='900px-img'] {
      width: 900px;
    }

    img {
      transition: transform 0.3s ease-in-out;

      &[role='button'] {
        cursor: zoom-in;
        &:hover {
          transform: scale(1.02);
        }
      }
    }

    .image-zoom {
      &__modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99999;
        animation: fadeIn 0.2s ease-in-out;
      }

      &__container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        padding: 2rem;
        box-sizing: border-box;
      }

      &__image {
        max-width: 90%;
        max-height: 90%;
        object-fit: contain;
        cursor: zoom-out;
        animation: zoomIn 0.3s ease-in-out;
      }

      &__close {
        position: fixed;
        top: 20px;
        right: 20px;
        background: none;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
        padding: 8px;
        z-index: 100000;
        opacity: 0.8;
        transition: opacity 0.2s ease;

        &:hover {
          opacity: 1;
        }
      }

      &__loading {
        color: white;
        font-size: 16px;
      }
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @keyframes zoomIn {
      from {
        opacity: 0;
        transform: scale(0.3);
      }
      to {
        opacity: 1;
        transform: scale(1);
      }
    }

    .theme-admonition {
      margin-bottom: 2em;

      svg {
        height: 1.3rem;
        width: 1.3rem;
      }
    }

    .a-b-list {
      list-style-type: lower-alpha;
    }

    sup {
      padding-left: 2px;
    }

    .footnote-backref {
      display: none;
    }

    .footnotes {
      margin-top: 50px;

      &:before {
        font-weight: 600;
        margin-top: 30px;
        display: inline-block;
        margin-bottom: 20px;
      }

      hr {
        display: none;
      }
    }

    .small-table {
      @include small-table; // target tables
    }

    table {
      @include small-table; // target section wrappers around tables
    }

    p > code {
      font-size: 13px;
      padding: 3px 6px;
      border-radius: 3px;
      background-color: rgba(150, 150, 150, 0.2);
    }
  }
}

a:has(code) {
  text-decoration: none !important;
}

article a:not([data-quicklook-from]):not(.footnote-ref) {
  text-decoration: underline;
}
