@use './_mixins.scss' as *;

main > .container {
  padding-top: 70px !important;
}

article {
  .markdown {
    h1:first-child {
      font-size: 30px;
    }

    h2.anchor {
      font-size: 24px;
    }

    > h3,
    > .faq-question > h3 {
      font-size: 21px;
      margin-top: 50px;
      margin-bottom: 15px;
    }

    li li {
      margin-top: 4px;
    }

    .definition-list {
      dt {
        font-weight: 700;
        margin-top: 20px;
      }

      dd {
        margin-left: 0;
      }
    }

    a {
      &:link {
        color: #5b7bb6; /* Change the link color */
        text-decoration: none !important;
        font-weight: 600;
      }

      &:hover {
        color: #86b8da; /* Change the link color */
        cursor: pointer;
        opacity: 0.9;
      }
      &:visited {
        color: #7c93cf; /* Change the link color */
        cursor: pointer;
        opacity: 0.9;
      }
      &:active {
        color: #86b8da; /* Change the link color */
        cursor: pointer;
        opacity: 0.9;
      }
    }

    strong {
      font-weight: 600;
    }

    .theme-admonition {
      margin-bottom: 2em;

      svg {
        height: 1.3rem;
        width: 1.3rem;
      }
    }

    .a-b-list {
      list-style-type: lower-alpha;
    }

    sup {
      padding-left: 2px;
    }

    .footnote-backref {
      display: none;
    }

    .footnotes {
      border-top: 1px solid #ddd;
      margin-top: 50px;

      &:before {
        content: 'Footnotes:';
        font-weight: 600;
        margin-top: 30px;
        display: inline-block;
        margin-bottom: 20px;
      }

      hr {
        display: none;
      }
    }

    .small-table {
      @include small-table; // target tables
    }

    table {
      @include small-table; // target section wrappers around tables
    }

    p > code {
      font-size: 13px;
      padding: 3px 6px;
      border-radius: 3px;
      background-color: rgba(150, 150, 150, 0.2);
    }
  }
}

a:has(code) {
  text-decoration: none !important;
}

article a:not([data-quicklook-from]):not(.footnote-ref) {
  text-decoration: underline;
}
