@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&&display=swap');

@mixin spacefont {
  font-family: 'Space Grotesk', sans-serif;
}
