@use './_mixins.scss' as *;

.header-badges {
  display: block;
  margin-bottom: 15px;
  min-height: 35px;
  text-align: right;
  /*pragmatism over perfection*/

  .header-badge {
    @include truncate;
    transition-property: all;
    transition-duration: 0.2s;
    display: inline-block;
    border-radius: 20px;
    background-color: #efefef;
    padding: 3px 20px 3px 3px;
    height: 31px;
    margin-right: 6px;
    margin-bottom: 5px;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;

    &:hover {
      text-decoration: none;
      background-color: #e6e6e6;
      opacity: 1;

      .badge-avatar {
        opacity: 1;
      }

      .badge-label {
        color: #000;
      }
    }

    .badge-label {
      @include truncate;
      transition-property: all;
      transition-duration: 0.2s;
      font-size: 13px;
      line-height: 24px;
      color: #333;
      display: inline-block;
      vertical-align: top;
      height: 25px;
      max-width: calc(100% - 33px);
    }

    .badge-avatar {
      transition-property: all;
      transition-duration: 0.2s;
      display: inline-block;
      border-radius: 30px;
      width: 25px;
      height: 25px;
      background-size: cover;
      margin-right: 12px;
      font-size: 12px;
      vertical-align: top;
      line-height: 23px;
      padding-left: 8px;
      opacity: 0.7;
    }

    .emoji-avatar {
      margin-right: 8px !important;
    }
  }
}
