.hero--primary {
  .hero__title {
    margin-bottom: 20px;
  }
}

.features_src-components-HomepageFeatures-styles-module,
.landingPageLink_aBTe {
  .text--center > h3 {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  svg {
    height: 130px;
    width: 130px;
    margin-top: 10px;
  }
}
