.navbar__inner {
  position: relative;

  > .navbar__items:first-child {
    position: absolute;
    display: block;
    left: 10px;
    top: 6px;
    flex: 0;
  }

  > .navbar__items--right {
    display: flex;
    flex: 1;

    #search_input_react {
      justify-content: flex-end;
    }

    .DocSearch-Button-Keys {
      display: none;
    }
  }
}
