@use './_fonts.scss' as *;

.navbar__inner{
    display: flex; // old, may stay
    position: relative;

    // target the first child 

    > .navbar__items:first-child {
        // todo: I want this to be tucked to the left, the way the other is tucked to the right
        position: absolute;
        display: block;
        left: 10px;
        top: 6px;
        flex: 0;
    }

    > .navbar__items--right {
        // todo: I want these items to be centered
        display: flex;
        flex: 1;
        justify-content: center; // Centers the items within the flex container

        #search_input_react{
            border-radius: 5px;
            min-width: 400px;
            height: 2.5rem;
        }

        .DocSearch-Button-Keys{
            display: none;
        }
    }
}