@use './_mixins.scss' as *;

[class*='quickstart-solidity-remix'] {
  .vending-machine {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: auto;
    text-align: center;
    border: 1px solid #aaa;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(150, 150, 150, 0.2);
    position: relative;

    h4 {
      text-transform: uppercase;
      color: var(--ifm-color-content);
      margin: 0;
      font-family: monospace;
    }

    .subheader {
      font-family: monospace;
      text-transform: uppercase;
      color: rgb(130, 130, 130);
      font-size: 12px;
      font-weight: 800;
      margin-bottom: 20px;
    }

    label {
      font-family: monospace;
      text-transform: uppercase;
      color: rgb(130, 130, 130);
      font-size: 12px;
      font-weight: 800;
      margin-top: 5px;
      display: block;
      text-align: left;
    }

    input {
      padding: 10px;
      width: 90%;
      margin-bottom: 5px;
      font-size: 11px;
      font-family: monospace;
    }

    .cupcake {
      display: block;
      font-size: 30px;
      margin-bottom: 10px;
    }

    .cupcake-please {
      color: white;
      background-color: #007bdd;
      padding: 10px 20px;
      border-radius: 5px;
      border-width: 0px;
      margin-top: 20px;
      margin-bottom: 10px;

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }

    .refresh-balance {
      font-size: 11px;
      display: block;
      margin-bottom: 10px;

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }

    .balance-wrapper {
      padding: 10px 0px;
      font-size: 11px;
      margin: 0;
      font-family: monospace;

      > span:first-child {
        font-weight: 600;
        padding-right: 5px;
      }
    }

    .error-indicator,
    .success-indicator {
      background: rgb(170, 0, 0);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      bottom: 15px;
      right: 15px;
      display: none;

      &.visible {
        display: block;
      }
    }

    .success-indicator {
      background: rgb(0, 164, 0);
      display: block;
    }

    .hidden {
      display: none;
    }
  }
}


[data-faq-origin-slug='node-faq'] {
  /* CSS properties */
  h3 {
    font-size: 16px;
    margin-bottom: 5px;
  }
}
