@media (max-width: 736px) {
  .markdown h1:first-child {
    font-size: 24px;
  }

  .markdown > h3,
  .markdown > .faq-question > h3 {
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 10px;
  }
}

@media (max-width: 996px) {
  .navbar__inner a.navbar__brand {
    display: none;
  }
}
