@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

$fira-font-family: 'Fira Code', monospace;

@mixin apply-fira-font {
  font-family: $fira-font-family;
}

.theme-doc-sidebar-container {
  .theme-doc-sidebar-menu {
    font-weight: 500;
    font-size: 13px;

    .menu__link--sublist-caret:after {
      height: 1rem !important;
      width: 1rem !important;
      background: var(--ifm-menu-link-sublist-icon) 50% / 1.2rem 1.2rem;
      opacity: 0.5;
    }
  }

  > div > div {
    > nav > ul {
      // the wrapper around all root sidebar items

      > .theme-doc-sidebar-item-category {
        margin-top: 20px;
        margin-bottom: 50px;

        > div {
          border-bottom: 1px solid rgba(150, 150, 150, 0.1);
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

          > a {
            @include apply-fira-font;
            font-weight: 700;
            font-size: 11.5px !important;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            color: #777;
            text-transform: uppercase;
            vertical-align: middle;
          }
        }

        > ul {
          padding-left: 0 !important;
        }
      }

      .menu__link {
        font-size: 12px;
      }
    }
  }
}
