:root {
  --arbitrum-font-size: 14px;
  --arbitrum-border-radius-sm: 5px;
  --arbitrum-border-radius: 10px;
  --arbitrum-font-family: 'Roboto', sans-serif;
  --arbitrum-color-primary: #8594b4;
  --arbitrum-background-opacity: rgba(0, 0, 0, 0.05);
  --arbitrum-text: black;
  --arbitrum-secondary-text: rgba(0, 0, 0, 0.5);
  --arbitrum-primary-button-bg: black;
  --arbitrum-primary-button-text: white;
  --ifm-color-primary: #007bdd;
  --ifm-color-primary-dark: #295f78;
  --ifm-color-primary-darker: #275771;
  --ifm-color-primary-darkest: #20465d;
  --ifm-color-primary-light: #337292;
  --ifm-color-primary-lighter: #357899;
  --ifm-color-primary-lightest: #3c85ad;
  --ifm-color-content: #000;
  --ifm-link-color: #007bdd;
  --ifm-code-font-size: 95%;
  --ifm-global-radius: 2px;
  --ifm-navbar-item-padding-horizontal: 0.6rem;
  --ifm-heading-font-family: 'Roboto', sans-serif;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-color-info-dark: #359aec;
  --ifm-color-info-contrast-background: #f0f8ff;
  --ifm-alert-padding-vertical: 1.5rem;
  --ifm-alert-padding-horizontal: 1.5rem;
  --tab-active-color: #3578e5;
  --tab-active-color-hover: hsl(217, 58%, 36%);
  --tab-gray: #ddd;
}
 