// ========================================
// Utility Mixins
// Table typography is now in _typography.scss
// ========================================

@mixin enable-transition {
  transition: all var(--arbitrum-transition-fast);
}

@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin invisible-horizontal-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

// Fumadocs-style scrollbar
@mixin fd-scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--fd-scrollbar-thumb, var(--fd-border));
  }

  &::-webkit-scrollbar-track {
    background: var(--fd-scrollbar-track, transparent);
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }
}
