:export {
  cls5: cls-5;
  cls5Light: cls-5-light;
  cls10: cls-10;
  cls10Light: cls-10-light;
  blinking: blinking;
}

.cls-5 {
  r: 20.95px;
  transition: opacity var(--arbitrum-transition-slow);
  fill: #ff7f2a;
}

.cls-5-light {
  r: 20.95px;
  transition: opacity var(--arbitrum-transition-slow);
  fill: #ff7f2a;
}

.cls-10 {
  fill: #fff;
  transition: fill var(--arbitrum-transition-slow);
}

.cls-10-light {
  fill: #000;
  transition: fill var(--arbitrum-transition-slow);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.blinking {
  animation: blink 2s ease-in-out infinite;
}
