@use './_mixins.scss' as *;

.troubleshooting-report-area {
  text-align: left;

  > p {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 16px;
  }

  > span {
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 13px;
    color: #333;
  }

  > code {
    font-size: 13px;
  }

  > textarea {
    @include invisible-horizontal-scroll;
    padding: 15px;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
      monospace;
    background-color: #f6f6f6;
    color: #444 !important;
    text-align: left;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 20px !important;
    width: 100%;
    min-width: 100%;
    border: 1px solid #c2c2c2 !important;
    white-space: pre;

    rows &::placeholder {
      color: #777 !important;
    }
  }

  .generate-report {
    @include enable-transition;
    font-size: 13px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px !important;
    position: relative;
    background-color: var(--tab-active-color);
    border-color: var(--tab-active-color);
    color: white !important;
    display: inline-block;
    margin: auto;
    text-align: center;
    padding: 15px 25px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none !important;

    &:hover {
      background-color: var(--tab-active-color-hover);
    }
  }

  .generated-report {
    @include invisible-horizontal-scroll;
    display: block;
    width: 100%;
    min-width: 100%;
    font-size: 12px;
    padding: 20px;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
      monospace;
    background-color: #292929;
    color: white;
    text-align: left;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    white-space: pre;
  }
}

.checklist {
  .task {
    display: table;
    position: relative;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    width: 100%;

    .input-container {
      display: table-cell;
      vertical-align: middle;
      padding: 10px 5px;
      width: 40px;

      input {
        width: 25px;
        height: 25px;
        display: inline-block;
        position: relative;
        z-index: 2;
        cursor: pointer;
      }

      .done {
        transition-property: background-color;
        transition-duration: 0.2s;
        transition-delay: 0s;
      }

      input:checked + .done {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #dfebfd;
        z-index: 0;
      }
    }

    .guidance-container {
      display: inline-block;
      padding-top: 0px;
      position: relative;
      z-index: 2;
      padding-left: 10px;

      label {
        display: block;
        font-weight: bold;
      }

      > p,
      p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0 !important;
      }

      .margin-top--md {
        margin-top: 0 !important;
      }

      .tabs-container {
        margin-bottom: 0 !important;
      }
    }
  }

  input {
    margin-right: 5px;
  }
}
