.mermaid-with-html {
  display: flex;
  margin-bottom: 40px;
  margin-top: 40px;
}
.mermaid-with-html marker > path {
  stroke: #888 !important;
  fill: #888 !important;
}
.mermaid-with-html .mermaid {
  width: 100%;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.mermaid-with-html .edgePaths {
  stroke: #888 !important;
}
.mermaid-with-html .edgePaths path {
  stroke: #888 !important;
  stroke-width: 1px !important;
}
.mermaid-with-html .edgeLabels .edgeLabel {
  background: transparent !important;
  color: #777 !important;
  font-size: 13px;
  font-weight: bold;
}
.mermaid-with-html .mermaid {
  width: 100%;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.mermaid-with-html .node > rect {
  fill: #4c7d9e !important;
  stroke: #888 !important;
  stroke-width: 0.5px !important;
}
.mermaid-with-html .node .nodeLabel {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 12px;
  color: white !important;
  fill: white !important;
}
.flowchartTitleText {
  fill: #777 !important;
}
.node-description-list {
  flex: 1;
  list-style: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.node-description-list .node-description {
  padding: 14px 14px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  background-color: rgba(123, 173, 207, 0.2);
}
.node-description-list .node-description code {
  font-size: 12px;
  color: #4c7d9e;
  font-weight: bold;
}
