.hover-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  z-index: 10; /* Ensure it appears on top */
  text-align: center; /* Center text horizontally */
}

.hover-frame.visible {
  display: flex; /* Show the frame when visible */
  color: white;
  font-size: 1.5rem;
}

.diagramContainer {
  width: 100%;
  height: auto;
  position: relative;
}

.hoverOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.5rem;
  pointer-events: none;
}

.hovered path,
.hovered rect {
  fill: #ff0000;
  transition: fill 0.3s ease;
}

.flowChartContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: auto;
  padding: 1rem;
}

.cls-5 {
  fill: #e30663;
}

.cls-5-light {
  fill: #e30663;
}

.cls-10 {
  fill: #fff;
}

.cls-10-light {
  fill: #000;
}

:global(.cls-5) {
  fill: #e30663;
}

:global(.cls-5-light) {
  fill: #e30663;
}

:global(.cls-10) {
  fill: #fff;
}

:global(.cls-10-light) {
  fill: #000;
}
