name: Build
run-name: Building site

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    name: 'Build'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 1

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'

      - name: Install dependencies
        uses: OffchainLabs/actions/node-modules/install@main
        with:
          install-command: yarn install --frozen-lockfile

      - name: Build
        run: yarn build
