name: Check format
run-name: Checking format

on:
  pull_request:
    branches:
      - master

jobs:
  install:
    name: "Install"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout files
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'

      - name: Install node_modules
        uses: OffchainLabs/actions/node-modules/install@main
        with:
          install-command: cd website && yarn install --frozen-lockfile
          cache-key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}

  check-formatting:
    name: "Check Formatting"
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Checkout files
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'

      - name: Install node_modules
        uses: OffchainLabs/actions/node-modules/install@main
        with:
          cache-key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}

      - name: Check formatting with Prettier
        working-directory: ./website
        run: yarn format:check