.placeholder-form {
  background-color: red;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: auto;
  text-align: center;
  border: 1px solid #aaa;
  padding: 10px 20px 20px 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgba(150, 150, 150, 0.2);
  position: relative;
}
.placeholder-form label {
  display: block;
  font-size: 12px;
  text-align: left;
  margin-top: 10px;
}
